@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Azeret Mono", monospace;
    margin: 0px;
    padding: 0px;
}

/* banner styles part */
.banner-container{
    width: 1223px;
    height: 512px;
    background-image: url("../assets/Hero-bg.png");
  
}
.banner-content{
    width: 781px;
    height: 442px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
.banner-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 36px;
    font-weight: 600;
    margin: 20px 0px;
}
.banner-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 45px;
}
.banner-content a{
    background-color: black;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 400;
}

/* why web development styles */
.web-development-container{
    width: 1025px;
    height: 1103px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    background-color: rgba(13, 19, 33, 0.02);
}
.web-development-container h4{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-top: 20px;
    
}
.web-development-container p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 300;
   
}
.web-first-content{
    width: 946px;
    height: 250px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px;
    display: flex;
    padding: 20px;
   
}
.web-first-content-left{
    width: 50%;
    height: 250px;
    text-align: left;
}
.web-first-content-left h5{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}
.web-first-content-left p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 20px;
}
.web-first-content-right{
    width: 50%;
    height: 250px;
}

.web-second-content{
    width: 946px;
    height: 250px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
   
}
.web-second-content-left{
    width: 40%;
    height: 250px;
}
.web-second-content-right{
    width: 60%;
    height: 250px;
    text-align: left;
    padding-right: 25px;
}
.web-second-content-right h5{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}
.web-second-content-right p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 20px;
}
.web-third-content{
    width: 946px;
    height: 250px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
   
}
.web-third-content-left{
    width: 50%;
    height: 250px;
}
.web-third-content-right{
    width: 50%;
    height: 336px;
}
.web-third-content-left h5{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}
.web-third-content-left p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 20px;
}
.web-button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 17px;
    font-weight: 500;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    align-items: center;
    padding: 12px 20px 12px 20px;
}

/* inspiration section */
.inspiration-container{
    width: 1025px;
    height: 400px;
    margin: 0 auto;
    margin-top: 30px;
}
.inspiration-content h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}
.inspiration-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    width: 750px;
    height: 60px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 40px;
    
}
.inspiration-content iframe{
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
  
}

/* My current target styles */
.current-target-container{
    width: 1025px;
    height: 440px;
    margin: 0 auto;
    margin-top: 220px;
}
.current-target-container-heading{
    width: 750px;
    height: 100px;
    margin: 0 auto;
}
.current-target-container-heading h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.current-target-container-heading p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
    }
.current-target-content{
    width: 1025px;
    height: 300px;
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content:center ;
    margin-top: 30px;
}
.current-target-html{
    background: rgba(255, 76, 30, 0.05);
    width: 33%;
    text-align: justify;
    padding: 25px; 
    border-radius: 16px;
}
.current-target-css{
    background: rgba(0, 76, 232, 0.05);
    width: 33%;
    text-align: justify;
    padding: 25px;  
    border-radius: 16px;
}
.current-target-javascript{
    background: rgba(255, 223, 0, 0.05);
    width: 33%;
    text-align: justify;
    padding: 25px; 
    border-radius: 16px;
}
.current-target-content-heading{
    margin-top: 15px;
    margin-bottom: 15px;
}
.learn-more-option{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
   
}

/* need-support-container */
.need-support-container{
    background-image: url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: 1025px 313px;
    width: 1025px;
    height: 313px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 8px;
}
.need-support-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}
.support-content-heading{
    text-align: center;
    width: 750px;
    height: 100px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 40px;
   
}
.support-content-heading h3{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 25px;
    font-weight: 600;
}
.support-content-heading p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 300;
    
}
/* .support-content-description{
    text-align: center;
} */
.support-content-description input{
    padding: 8px 80px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    text-align: left;
}
.support-button{
    color: rgb(13, 19, 33);
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: rgb(255, 255, 255);
    font-size: 15px;
    font-weight:400;
}

/* footer section */
.footer-container{
    background: rgba(13, 19, 33, 0.05);
    width: 1223;
    height: 60px;
    margin-top: 40px;
}
.footer-content{
    margin-left: 80px;
    padding-top: 15px;
    display: flex;
    gap: 490px;
    
}
.footer-content{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 400;
}



